.inputContainer {
  width: 350px;
  background-color: rgb(200, 39, 206);
  height: 2.5rem;
  margin: 1rem auto;
  border-radius: 5px;
  position: relative;
}

.inputContainer p {
  padding: 0.8rem;
  padding-left: 0.6rem;
}

.inputContainer p input{
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: medium;
  font-style: italic;
}

.inputContainer p input:focus{
  outline: none;
}

.inputContainer p span{
  position: absolute;
  right: 15px;
  cursor: pointer;
}
