.listContainer{
  max-width: 350px;
  background-color: rgb(44, 190, 190);
  border-radius: 5px;
  margin: 0.5rem auto;
  position: relative;
}

.listContainer p{
 padding: 0.7rem;
 font-weight: bolder;
}

.listContainer p input{
 background-color: transparent;
 border: none;
 color: aliceblue;
 font-size: medium;
 font-weight: 600;
}

.listContainer p input:focus{
 outline: none;
}

.listContainer span{
 position: absolute;
 right: 15px;
 font-size: larger;
 cursor: pointer;
}